* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 32px;
    height: 32px;
    background-color: #1F2937;
    flex: auto;
    transition: background-color 0.9s ease;
} 

.grid:hover {
    background-color: #93C5FD;
    transition: background-color 0.1s ease;
}